[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Python IFC toolkit
Comment=Monitor your device usage
Exec=python-ifc-toolkit.desktop-launch
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Categories=Development;
